<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./img/favicon.png">
        <link rel="stylesheet" href="./css/style.css">
        <title>Weather-Radar</title>
    </head>

    <body>
        <div id="app">
            <main>
                <form action="">
                    <!--<input type="text" class="searchBar" placeholder="Search..."/>-->
                    <input type="text" placeholder="Search for location..." >
                </form>
                            
                <div class="weatherWrap">
                    <div class="locationBox">
                    <div class="location">&nbsp;</div>
                    <div class="date">&nbsp;</div>
                    </div>
                </div>
        
                <div class="weatherBox">
                    <div class="flexcon">
                        <div class="temp">--</div>
                        <div class="degree"><sup>o</sup>C</div>
                    </div>
                    <div class="weatherStatus"></div>
                </div>
            </main>
        </div>
 
        <script src="/js/script.js"></script>
    </body>
</html>